:root {
    --background-color: #010101;
    --secondary-background-color: #111;
    --contrast-color: #f9f9f9;
}

h1 {
    font-size: 50px;
}

button {
    background-color: var(--secondary-background-color);
    border: none;
    margin: 1px;
}

.square {
    height: 150px;
    width: 150px;
    font-size: 70px;
    margin: 5px;
    border: none;
}


.board {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--contrast-color);
    justify-content: space-around;
    outline: 20px solid var(--background-color);
    outline-offset: -9.5px;
    height: fit-content;
    border-radius: 10%;
    margin-left: 50vh;
}

.row {
    display: flex;
    flex-direction: row
}

body {
    flex-direction: column;
    background-color: var(--background-color);
}


p, h1, h2, h3, button {
    font-family: sans-serif;
    text-align: center;
    color: #f9f9f9;
    font-weight: bold;
}




.game {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50;
}

ul {
    list-style-type: none;
    padding: 0px;
}


li button {
    height: 50px;
    width: 100%;
}

#btnAlt {
    height: 40px;
    border-radius: 10px;
}